:root {
    --color-claro: #fece9e;
    --color-oscuro: #d18b47;
    --color-ataque: #ff0000;
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
    /* Esta propiedad solo se aplica a la tabla */
    height: 50px;
    /* Esta propiedad solo se aplica a los objetos td */
}

tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
    background-color: var(--color-claro);
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background-color: var(--color-oscuro);
}

td.bloqueada {
    cursor: not-allowed;
}